.Contacts {

    &>.react-tel-input {
        background: red;
    }

    &_section {
        margin-top: 16px;
        text-align: center;

        &_phone {
            border: 1px solid #E6E6E7;
            border-radius: 10px;
        }

        &_title_number {
            font-size: 12px;
            color: #1C1C1D;
            margin-bottom: 4px;
            font-weight: 500;
            text-align: left;

            &>span {
                color: #DC143C;
            }
        }

        &_title {
            font-size: 15px;
            text-align: center;
        }

        &>p {
            font-size: 12px;
            text-align: left;

            &>span {
                color: #2D5DFA;
            }
        }
    }
}